language: python
python:
  - "2.6"
  - "2.7"
matrix:
  include:
    # Test on pypy without coverage, because it's unnecessary and very slow.
    - python: "pypy"
      env: NO_COVERAGE="1"
before_install:
  # We need Riak 1.4, so we add Basho's repo and install from there.
  # Additionally, we remove existing Riak data and replace the config with ours.
  - sudo service riak stop
  - "curl http://apt.basho.com/gpg/basho.apt.key | sudo apt-key add -"
  - sudo bash -c "echo deb http://apt.basho.com $(lsb_release -sc) main > /etc/apt/sources.list.d/basho.list"
  - sudo apt-get -qq update
  - sudo apt-get install -qq -y --force-yes riak=1.4.12-1
  - sudo rm -rf /var/lib/riak/*
  - sudo cp utils/app.config /etc/riak/app.config
  - sudo service riak start
  # we need the protobuf-compiler so we can install Riak client libraries
  - sudo apt-get install -qq protobuf-compiler
install:
  - "pip install -r requirements.txt"
  - "pip install coveralls"
before_script:
  # To see what version of Riak we're running and check that it's happy.
  - riak version
  - riak-admin member-status
script:
  - if [ -z "$NO_COVERAGE" ]; then COVERAGE_CMD="coverage run --source=vumi_message_store"; else COVERAGE_CMD=""; fi
  - $COVERAGE_CMD `which trial` vumi_message_store
after_success:
  - if [ -z "$NO_COVERAGE" ]; then coveralls; fi
